version: "1"

services:
  - type: web
    name: api-portifolio
    env: docker
    plan: free
    region: oregon

    dockerfilePath: ./Dockerfile

    envVars:
      - key: PORT
        value: 3000

      - key: DATABASE_URL
        fromDatabase:
          name: portifolio-db
          property: connectionString

      - key: JWT_SECRET
        generateValue: true

      - key: NODE_ENV
        value: production


databases:
  - name: portifolio-db
    plan: free
